{% extends "layout.html" %}

{% block title %} Search {% endblock %}

{% block head %}
    {% if error is defined %}
    <script>
        alert("{{error}}");
    </script>
    {% endif %}
{% endblock %}

{% block main %}

<h1>Search</h1>

<form action="/search">
    <input placeholder="Search for your stock here" name="q" list="stock-names"/>
    <datalist id="stock-names">
        {% for name in stock_names %}
        <option value="{{name}}" />
        {% endfor %}
    </datalist>
    <button>Go</button>
</form>

{% endblock %}